/* GENERALS  */

section{
    min-height: 500px;
    border: 1px solid red;
    margin-bottom: 50px;
}

.col-12 , .col-lg-6 , .col-6 , .col-4 , .col-md-2 , .col-md-4{
    min-height: 100px;
    border: 1px solid black;

}

/* SPOTLIGHT-BG  */

.break{
    background-image: ;
}

