/* GENERALS  */

section{
    min-height: 600px;
    margin-bottom: 50px;
}

 .col-lg-6  , .col-4 , .col-md-2 , .col-md-4{
    min-height: 100px;
    border: 1px solid black;

}


/* UTILITIES  */

.btn-blue{
    background-color: rgb(0, 68, 255);
    border-radius: 20px;
    padding: 9px 25px 9px 25px;
}



/* HEADER  */

.sony-bar{
    height: 30px;
    background-color: black;
}

#sony-logo{
    transform: scale(0.5);
}


/* SPOTLIGHT-BG  */

.break{
    background-image: url("img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#returnal-logo{
    width: 200px;
    height: 60px;
}

