/* GENERALS  */

section{
    min-height: 600px;
    margin-bottom: 50px;
}


/* UTILITIES  */

.btn-blue{
    background-color: rgb(0, 68, 255);
    border-radius: 20px;
    padding: 9px 25px 9px 25px;
}



/* HEADER  */

.sony-bar{
    height: 30px;
    background-color: black;
}

#sony-logo{
    transform: scale(0.5);
}


/* SPOTLIGHT-BG  */

.break{
    background-image: url("img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#returnal-logo{
    width: 200px;
    height: 60px;
}


figcaption{
    font-size: 0.8em;
    color: rgb(133, 127, 127);
}

